.uploadPage {
    background: url("/images/bg-image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-size: var(--fs-base);
    display: flex;
    overflow: hidden;
}

.Container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 5rem;
}

.title {
    margin-top: 2rem;
}

.uploadContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.uploadForm {
    padding: 2rem 0 2rem;
    background-color: var(--clr-gold-10);
    border-radius: 10px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.label {
    color: var(--clr-white);
    font-size: var(--fs-3xl);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    padding-left: 2rem;
    margin-bottom: 1.5rem;
    line-height: 1;
}

hr {
    width: 100%;
    height: 1px;
    background-color: var(--clr-gold);
    border: none;
}

.uploadSection {
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    padding: 0 25rem;
}
