.woolContainer {
    position: relative;
    cursor: pointer;
}

.rarityText {
    font-size: var(--fs-base);
    width: 12ch;
    padding: 0 1rem;
    position: absolute;
    top: -40px;
    left: -8px;
    z-index: 1;
    background-color: var(--clr-gold-40);
    backdrop-filter: blur(1rem);
    border: 2px solid var(--clr-gold);
    color: var(--clr-white);
    border-radius: 10px;
    display: none;
    transition: opacity 0.2s;
}

.woolContainer:hover .rarityText {
    display: block;
}

.wool {
    transition:
        opacity 0.2s ease,
        filter 0.2s ease;
}

.selected {
    filter: drop-shadow(0px 0px 20px #c19a1b);
}

.dimmed {
    opacity: 0.5;
}

.votesCount {
    position: absolute;
    left: 46%;
    bottom: -40px;
    color: var(--clr-white);
    font-size: var(--fs-base);
}
