.uploadContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
    padding: 0 0 2rem;
}

.uploadForm {
    background-color: var(--clr-gold-10);
    border-radius: 10px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
}

.headerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 0 0;
    gap: 2rem;
}

.label {
    color: var(--clr-white);
    font-size: var(--fs-3xl);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    padding-left: 2rem;
    line-height: 1;
}

hr {
    width: 100%;
    height: 1px;
    background-color: var(--clr-gold);
    border: none;
}

.uploadIconContainer {
    background-color: var(--clr-gold-20);
    border-radius: 50%;
    padding: 3rem;
}

.uploadSection {
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    padding: 3rem 25rem;
}

.uploadDescriptionContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--clr-white-70);
    font-size: var(--fs-xl);
    font-family: "Inter", sans-serif;
}

.uploadDescription {
    font-weight: 400;
    line-height: 1;
}

.or {
    color: var(--clr-gold);
    font-weight: 231;
}

.uploadButton {
    border-radius: 10px;
    border: 2px solid var(--clr-gold);
    margin-inline: auto;
    padding: 0.75rem 2rem;
    color: var(--clr-white-70);
    font-size: var(--fs-2xl);
    background: var(--clr-button-bg-gradient);
    backdrop-filter: blur(1rem);
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
    font-family: "Inter", sans-serif;
    position: relative;
    transition: box-shadow 0.5s;
}

.uploadButton::before {
    border-radius: 10px;

    content: "";
    position: absolute;
    inset: 0;
    background: var(--clr-button-bg-gradient-hover);
    backdrop-filter: blur(1rem);
    opacity: 0;
    z-index: -1;
    transition: opacity 0.3s;
}

.uploadButton:hover::before {
    opacity: 1;
}

.uploadButton:hover {
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.8);
}

.errorMessage {
    color: var(--clr-error-message);
    font-size: var(--fs-xl);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 1;
}
