:root {
  /* Colors */
  --clr-white: #fff;
  --clr-black: #000;
  --clr-gold: #F9BE66;
  --clr-bg-gradient1: ;
  --clr-bg-gradient-2: ;
  --clr-btn-gradient: ;

  /* sizes */
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;

  /* Font sizes */
  --fs-xxs: 0.5rem;
  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-lg: 1.125rem;
  --fs-xl: 1.25rem;
  --fs-2xl: 1.5rem;
  --fs-3xl: 1.875rem;
  --fs-4xl: 2.25rem;
  --fs-5xl: 3rem;
  --fs-6xl: 3.75rem;
  --fs-7xl: 4.5rem;
  --fs-8xl: 6rem;
  --fs-9xl: 8rem;
  --fs-10xl: 10rem;
}

.homePage {
  min-height: 100vh;
  background: 
    linear-gradient(180deg, rgba(0, 0, 0, 0.53) 6%, rgba(29, 35, 52, 0.47) 90%, rgba(8, 9, 10, 1) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.53) 6%, rgba(29, 35, 52, 0.47) 90%, rgba(8, 9, 10, 1) 100%),
    url('/images/main-photo.png'); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--clr-white);
  font-size: var(--fs-base);
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.75rem);
}

html {
  scroll-behavior: smooth;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroBanner {
  text-align: center;
}

.heroBannerTitleContainer {
  position: relative;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  width: fit-content;
  margin-inline: auto;
}

.shape {
  position: absolute;
}

.topLeftShape {
  top: 0;
  left: -1.5rem;
}

.bottomRightShape {
  bottom: 2.5rem;
  right: -1rem;
}

.topRectangleShape1 {
  top: -1rem;
  left: 18rem;
}

.topRectangleShape2 {
  top: -1.5rem;
  left: 18.7rem;
}

.heroBannerTitle {
  font-size: var(--fs-8xl);
  letter-spacing: 3px;
}


.heroBannerSubtitle {
  font-size: var(--fs-3xl);
  letter-spacing: 2px;
}

.animatedText {
  display: inline;
}

.animatedText {
  display: inline-block;
  vertical-align: sub;
  width: 172px;
  font-size: var(--fs-xl);
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #F9BE66;
  animation: typing 3s steps(18, end), cursor 0.5s steps(18, end) infinite;
  animation-delay: 0.6s;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

.heroBannerButton {
  padding: 0.9rem 2.25rem;
  background: linear-gradient(90deg, rgba(249, 190, 102, 0.1) 0%, rgba(249, 137, 102, 0.1) 100%);
  backdrop-filter: blur(1rem);
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
  border: 2px solid #F9BE66;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1275rem;
  color: #F9BE66;
  font-weight: 700;
  position: relative;
}

.heroBannerButton::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, rgba(249, 190, 102, 0.3) 0%, rgba(249, 137, 102, 0.3) 100%);
  backdrop-filter: blur(1rem);
  border-radius: 5px;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s;
}

.heroBannerButton:hover::before {
  opacity: 1;
}