.moderatorContent {
    display: flex;
    height: 50%;
    margin-top: 5rem;
    gap: 2rem;
    font-family: "Inter", sans-serif;
}

.codeContainer {
    background-color: var(--clr-gold-10);
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    flex: 1;
    height: fit-content;
}

.codeTitle {
    color: var(--clr-white);
    line-height: 1;
    font-size: var(--fs-3xl);
    font-weight: 400;
}

.codeInput {
    border: 2px solid var(--clr-gold);
    border-radius: 5px;
    background: none;
    padding: 0.5rem 1.5rem;
    color: var(--clr-gold);
    font-size: var(--fs-xl);
}

.buttonContainer {
    align-self: flex-end;
}

.button {
    background-color: var(--clr-gold-10);
    color: var(--clr-white-70);
    font-size: var(--fs-2xl);
    padding: 0.75rem 3.5rem;
    border-radius: 10px;
}
