.panelPage {
    font-family: "Inter", sans-serif;
    color: var(--clr-white);
    padding: 0 0 2rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 5rem;
}

.panelContainer {
    display: flex;
    flex-direction: column;
}

.panelMessageContainer {
    display: flex;
    gap: 5rem;
    align-items: end;
    margin-top: 1.5rem;
}

.messageContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: var(--clr-gold-10);
    padding: 2rem;
    border-radius: 10px;
}

.messageTitle {
    font-size: var(--fs-3xl);
    font-weight: 400;
    line-height: 1;
}

.messageInput {
    border: 3px solid var(--clr-gold);
    border-radius: 5px;
    background: none;
    color: var(--clr-gold);
    padding: 0.75rem 1rem;
    font-size: var(--fs-xl);
}

.buttonConfirm {
    height: fit-content;
    padding: 1rem 3.5rem;
    font-size: var(--fs-2xl);
    color: var(--clr-white-70);
    border-radius: 10px;
}

.buttonsContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;
    margin-top: 3.5rem;
}

.buttonPause {
    font-size: var(--fs-2xl);
    color: var(--clr-white);
    border-radius: 10px;
    padding: 1rem 1rem;
    flex: 1;
}

.buttonStart {
    font-size: var(--fs-2xl);
    color: var(--clr-white);
    border-radius: 10px;
    padding: 1rem 2rem;
    flex: 2;
}

.buttonCaster {
    font-size: var(--fs-4xl);
    color: var(--clr-white);
    border-radius: 10px;
    flex: 2;
    padding: 1.5rem 0;
}

.lobbyContainer {
    background: var(--clr-gold-10);
    margin-top: 3.5rem;
    padding: 3rem;
}

.lobbyTitle {
    font-family: "Bebas Neue", sans-serif;
    font-size: var(--fs-6xl);
}

table {
    border-spacing: 0;
    width: 100%;
    margin-top: 3rem;
}

th,
td {
    text-align: center;
    font-size: var(--fs-xl);
    border: 2px solid var(--clr-white);
}

th:nth-child(1),
th:nth-child(4) {
    padding: 1rem;
    width: 10%;
}

th:nth-child(2),
th:nth-child(3) {
    padding: 1rem;
    width: 15%;
}

th:nth-child(5) {
    width: 40%;
    text-align: left;
    padding: 0 2.5rem;
}

td {
    padding: 1rem;
}
