.title {
    font-size: var(--fs-6xl);
    letter-spacing: 3px;
    line-height: 1;
    text-transform: uppercase;
    font-family: "Bebas Neue", sans-serif;
    color: var(--clr-white);
}

.divider {
    width: 10rem;
    height: 6px;
    background-color: var(--clr-gold);
}
