.waitingMessage {
    font-size: var(--fs-6xl);
    margin-top: 2.5rem;
    color: var(--clr-white);
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 3px;
    max-width: 60ch;
    word-wrap: break-word;
}
