.userGamePage {
    flex-direction: column;
    min-height: 100vh;
    display: flex;
    font-family: "Inter", sans-serif;
    padding: 0 0 2rem;
}

.Container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 5rem;
}
